<footer style="background-color: #333; color: white; padding: 20px; text-align: center;">
    <!-- <p>&copy; 2025 My Website. All rights reserved.</p> -->
    <div>
        <a href="index.html" style="color: white; margin-right: 15px; text-decoration: none;">Home</a>
        <a href="wish.html" style="color: white; margin-right: 15px; text-decoration: none;">WISH</a>
        <a href="team.html" style="color: white; margin-right: 15px; text-decoration: none;">Team</a>
        <a href="contact.html" style="color: white; text-decoration: none;">Contact Us</a>
    </div>
</footer>